.search__hotel{
    height: 19.5rem;
    background-color: $white;
    text-align: center;
    overflow:hidden;
    // padding-top: 3.625rem;
    
    .title{
        
        @include bold-text();
        font-size: $extra-large;
        margin-top: 3.7rem;
        margin-bottom: 2.4375rem;
        
    }
    .content{
        @include regulate-text();
        margin-bottom: 3.375rem;
        
    }
    button{
        outline: none;
        width: 35.5rem;
        height: 5.375rem;
        border: none;
        background-color: #766357;
        @include bold-text();
        opacity: 95%;
        color:$white;
        &:hover{
            opacity: 100%;
        }
        &:active{
            background-color: #503E33;
            color:#847870;
            
        }
    }
}

.search{
    @include regulate-text();
    font-weight: 700;
    width: 35.5rem;
    height: 24.6875rem;
    background-color: $white;    
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    padding: 3.4375rem;
    form{
        width: 28.6875rem;
        height: 17.8125rem;
        input{
            @include regulate-text();
            font-weight: 700;
            width: 21.625rem;
            height: 2.375rem;
            border: none;
            background-color: #F2F2F2;
            margin-bottom: 1.8125rem;
        }
        button{
            display: block;
            width: 28.625rem;
            height: 3.625rem;
        }
        .enter{
            margin-left: 1.28125rem;
        }
        .escape{
            margin-left: 1.09375rem;
        }
        .adults{
            display: inline-flex;
            button{
                // margin: 0;
                padding: 0;
                border: none;
                outline: none;
            }
            input{
                margin: 0;
                padding: 0;
                text-align: center;
            }  
            label{
                margin-top: 10px;
            } 
        }
        
        .minus{
            background-image: url("/images/minus.png");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            margin-left:2.16875rem;
            
        }
        .plus{
            background-image: url("/images/plus.png");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            
            &:not(:last-child)
            {
                margin-right: 3.3312rem;
            }
        }
        .people{
            width: 2.375rem;
            height: 2.375rem;
            
        }
    }
    &.hide{
        visibility: hidden;
    }
    &.visiable{
        visibility: visible;
    }

    .find{
        @include bold-text();
        color: $white;
        margin-top: 3.4375rem;
        background-color: $link-hover; 
        border: none;
       @include blue-button;
    }

}


.map{
    background-image: url("/images/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 29.6875rem;
    background-position: 0% 0%;
}

